In [53]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\lingxi\anaconda3\lib\site-packages (8.0.20)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\lingxi\anaconda3\lib\site-packages (from mysql-connector-python) (3.12.2)
Requirement already satisfied: setuptools in c:\users\lingxi\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (45.2.0.post20200210)
Requirement already satisfied: six>=1.9 in c:\users\lingxi\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.14.0)

In [120]:
import pandas as pd
import mysql.connector

con = mysql.connector.connect(user='hbs-student', password='super-secure-password?',
                              host='hbs-ds-060120.c1doesqrid0e.us-east-1.rds.amazonaws.com',
                              database='movies')
cursor = con.cursor()

In [121]:
# # Pull IMBD data into pd 
movie_names = pd.read_sql_query('''SELECT * FROM movies.imdb_title_basics 
                                JOIN movies.imdb_title_ratings USING (tconst)
                                JOIN movies.imdb_title_crew USING (tconst)
                                JOIN movies.imdb_name_basics n ON o.directors = n.nconst
                                ;''', con)
# movie_titles = pd.read_sql_query('SELECT * FROM movies.imdb_title_basics;', con)
# movie_ratings = pd.read_sql_query('SELECT * FROM movies.imdb_title_ratings;', con)
# crew = pd.read_sql_query ('SELECT * FROM movies.imdb_title_crew;', con)


# sql = '''
# SELECT * FROM movies.imdb_title_basics


# ;'''
# movie_names = pd.read_sql_query(sql, con)
movie_names.head()
# employees = pd.read_sql_query('select * from employees', con)

DatabaseError: Execution failed on sql 'SELECT * FROM movies.imdb_title_basics o
                                JOIN movies.imdb_title_ratings USING (tconst)
                                JOIN movies.imdb_title_crew USING (tconst)
                                JOIN movies.imdb_name_basics n ON o.directors = n.nconst
                                ;': 1054 (42S22): Unknown column 'o.directors' in 'on clause'

In [104]:
crew.head()

      tconst            directors                                  writers
0  tt0063540            nm0712540  nm0023551,nm1194313,nm0347899,nm1391276
1  tt0066787            nm0002411                                     None
2  tt0069049            nm0000080                      nm0000080,nm0462648
3  tt0069204            nm0611531                                nm0347899
4  tt0100275  nm0765384,nm0749914                      nm1360635,nm0749914

In [85]:
# Database query here
sql = '''
-- YOUR CODE HERE
SELECT * FROM movies.imdb_title_basics
'''
movie_title = pd.read_sql_query(sql, con)
# cursor.execute(sql)
# df = pd.DataFrame(cursor.fetchall())
# df.head()
print(movie_title)

           tconst                                primary_title  \
0       tt0063540                                    Sunghursh
1       tt0066787              One Day Before the Rainy Season
2       tt0069049                   The Other Side of the Wind
3       tt0069204                              Sabse Bada Sukh
4       tt0100275                     The Wandering Soap Opera
...           ...                                          ...
146139  tt9916538                          Kuambil Lagi Hatiku
146140  tt9916622  Rodolpho Teóphilo - O Legado de um Pioneiro
146141  tt9916706                              Dankyavar Danka
146142  tt9916730                                       6 Gunn
146143  tt9916754               Chico Albuquerque - Revelações

                                     original_title  start_year  \
0                                         Sunghursh        2013
1                                   Ashad Ka Ek Din        2019
2                        The Other Side of the Wind        2018
3                                   Sabse Bada Sukh        2018
4                             La Telenovela Errante        2017
...                                             ...         ...
146139                          Kuambil Lagi Hatiku        2019
146140  Rodolpho Teóphilo - O Legado de um Pioneiro        2015
146141                              Dankyavar Danka        2013
146142                                       6 Gunn        2017
146143               Chico Albuquerque - Revelações        2013

        runtime_minutes                genres
0                 175.0    Action,Crime,Drama
1                 114.0       Biography,Drama
2                 122.0                 Drama
3                   NaN          Comedy,Drama
4                  80.0  Comedy,Drama,Fantasy
...                 ...                   ...
146139            123.0                 Drama
146140              NaN           Documentary
146141              NaN                Comedy
146142            116.0
146143              NaN           Documentary

[146144 rows x 6 columns]

OperationalError: MySQL Connection not available.